@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans&family=Poppins:wght@200&family=Roboto:wght@100;300&family=Water+Brush&display=swap");

.App {
  font-family: "Open Sans", "Poppins", "Lato";
}
